{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main" }}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">
    {{ partial "header.html" (dict "context" . "enablemap" true) }}
  </div>
  <div class="{{ .Site.Params.contentGrid }} post-list">
    <section class="ui segment stackable four column grid">
      {{ range .Site.Data.gallery.entries }}
      {{ $dir := (printf "%s" (relURL "/covers")) }}
      <div class="column">
	<div id={{ (printf "%s/%s" (relURL "/media/gallery/") .path) }} class="ui fluid card">
	  <div class="image">
	    <img src="{{ $dir }}/{{ .thumb }}">
	  </div>
	  <div class="content">
	    <div class="header">{{ .name }}</div>
	  </div>
	  <div class="extra content">
	    <span>
	      <i class="photo icon"></i>
	      {{ $photoCount := (len (readDir (printf "%s/%s" "/static/media/photos" .path))) }}
	      {{ $photoCount }}
	      {{ if eq $photoCount 1 }}
	      photo
	      {{ else }}
	      photos
	      {{ end }}
	    </span>
	  </div>
	</div>
      </div>
      {{ end }}
    </section>
  </div>
</div>
{{ end }}
