{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main" }}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">
    {{ partial "header.html" (dict "context" . "enablemap" false) }}
  </div>
  <div class="{{ .Site.Params.contentGrid }} wide-map">
    {{ partial "map" (dict "context" . "track" 0)}}
  </div>
</div>
{{ end }}
