<nav class="ui top secondary menu" style="overflow-x: scroll">
  {{ if .Site.Params.email }}
  <div class="item">
    <a href="mailto:{{ .Site.Params.email }}">
      <i class="inverted big mail icon" title="email"></i>
    </a>
  </div>
  {{ end }}
</nav>

<div class="ui centered grid about">
  <div class="fifteen wide mobile fifteen wide tablet fifteen wide computer column">

    <section class="ui stacked segments">
      <header class="ui inverted segment">
        <h2 class="ui header">{{- i18n "aboutHeader" -}}</h2>
      </header>

      <article class="ui inverted segment">
        {{ range $.Site.Data.about.desc }}
          <p>{{ . | safeHTML }}</p>
        {{ end }}
      </article>

      {{ if .Site.Copyright }}
      <footer class="ui secondary segment">
        {{ .Site.Copyright | safeHTML }}
      </footer>
      {{ end }}
    </section>

  </div>
</div>
