{{ define "title" }}Page not found{{ end }}

{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main" }}
<div class="ui basic center aligned segment">
  <h1 class="ui header">404</h1>
  <p><a class="ui green label" href="/">{{ i18n "returnHome" }}</a></p>
</div>
{{ end }}
